header
	menu
		h4 Global Exits
		ul
			li
				a(href="/board/public") Home
			if( memberRole == 'public' )
				li
					a(href="/member/login") Sign in with Twitter
			else
				li
					a(href="/board/"+memberInfo.screen_name) My Board
				li
					a(href="/member/profile") My Profile
				li
					a(href="/member/logout") Log Out