header
	menu
		h4 Global Exits
		ul
			li
				a(href="/board/public") Home
			li
				a(href="/member/login") Log In
			li
				a(href="/board/:member") My Board
			li
				a(href="/member/profile") My Profile
			li
				a(href="/member/logout") Log Out