header.navbar.navbar-default.navbar-fixed-top
	menu.container
		div.navbar-header.pull-left
			a.navbar-brand(href="/board/public")
				span.glyphicon.glyphicon-pushpin
				| MemeBoard
		a.hamburger(href="#menu")
		nav#menu.pull-right
			a.hamburger(href="#close")
			ul.nav.navbar-nav
				li
					a(href="/board/public") Home
				if( memberRole == 'public' )
					li
						a(href="/member/login") Sign in with Twitter
				else
					li
						a(href="/board/"+memberInfo.screen_name) My Board
					li
						a(href="/member/profile") My Profile
					li
						a(href="/member/logout") Log Out